<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- BLUETOOTH -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>

    <!-- NOTIFICATION -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- PHONE -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- CONTACT -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.VisionSync">

        <!-- SPLASH SCREEN -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

        <!-- NOTIFICATION SERVICE -->
        <service
            android:name=".NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>

        </service>

        <!-- CALL RECEIVER -->
        <receiver
            android:name=".CallReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>